*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Metropolis;
    src: url(./metropolis.medium.otf);
}

/* INFO SECTION */
.information{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #372583;
}

.information-reverse{
    flex-direction: row-reverse;
}

@media only screen and (max-width: 900px) {
  .information {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
}

.info-top{
    font-family: Metropolis, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}

.info-middle{
    font-family: Metropolis, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0px;
}

.info-para{
    font-family: Metropolis, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 420;
    line-height: 34px;
    width: 400px;
    letter-spacing: -0.25px;
}

@media only screen and (max-width: 900px) {
    .info-top{
        font-size: 18px;
    }

    .info-middle{
        font-size: 30px;
    }

    .info-para{
        max-width: 300px;
        font-size: 16px;
    }
}

.early-access{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    background: #372583;
    box-shadow: 0px 2px 8px rgba(55, 37, 131, 0.24);
    border-radius: 8px;
    margin-top: 80px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.image{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen-small{
    display: none;
}

@media only screen and (max-width: 1000px) {
  .screen-small{
      display: flex;
  }

  .screen-large{
      display: none;
  }
}

/* FOOTER SECTION */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-top: 40px;
}

@media only screen and (max-width: 1000px) {
  footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }

  footer .name img{
      width: 70px;
  }

  footer > .name{
    padding-top: 60px;
}
}

footer > .name{
    margin-bottom: 30px;
}

.logos{
    margin-bottom: 30px;
}

.logos > a > img{
    margin-left: 15px;
}

.copyright{
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #372583;
    margin-bottom: 30px;
}


.infortica{
   padding: 70px;
   padding-top: 130px;
   padding-bottom: 130px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color:#222222;
   ;
}
.text2-cs{
   font-family: Metropolis,sans-serif;
   font-size: 72px;
   font-style: normal;
   font-weight: 700;
   line-height: 84px;
   letter-spacing: 0px;
   text-align: left;
   color: #FFCE44;
}
.text1-cs{
   font-family: Metropolis,sans-serif;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: 40px;
   letter-spacing: 0px;
   text-align: left;
   color:white;
}
.word{
   color:#FFCE44
}
@media only screen and (max-width: 1000px) {
   .infortica {
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

   .text1-cs{
       font-size: 18px;
   }
   .text2-cs{
       font-size: 40px;
   }
 }

 .header{
    background: #372583;
    padding: 50px;
    font-family: Metropolis;
 }

 .header-logo{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 10px 70px;
     margin-bottom: 115px;
 }

 .header-box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .box-heading{
     font-size: 72px;
     margin-bottom: 16px;
     color: white;
 }

 .box-para{
     font-size: 28px;
     text-align: center;
     color: white;
     font-weight: 400;
 }

 .redefining{
     font-size: 28px;
 }

 .display-wrap{
     margin-bottom: 90px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 .header-btn{
     height: 56px;
    width: 180px;
    left: 630px;
    top: 557px;
    border-radius: 8px;
    padding: 14px, 16px, 14px, 16px;
    background: #FFCE44;
    margin-bottom: 170px;
    font-family: Metropolis;
 }

 .hiring{
     color: white;
 }

 @media only screen and (max-width: 800px){
    .header-logo{
        padding: 0.5px 0.5px;
    }

    .box-heading{
        font-size: 43px;
        text-align: center;
        max-width: 70vw;
    }

    .box-para{
        font-size: 13px;
        text-align: center;
    }

    .redefining{
        font-size: 13px;
    }

    .wrapper{
        font-size: 13px;
    }
 }

 /* Animation */
.wrapper{
    font-family: Metropolis;
    box-sizing: content-box;
    font-size: 28px;
    color: white;
    height: 70px;
    padding: 30px 10px;
    display: flex;
    border-radius: 8px;
}
.words{
    overflow: hidden;
}
.wrapper_span{
    display: block;
    margin-bottom: 2px;
    height: 100%;
    padding-left: 10px;
    color: #FFCE44;
    animation: spin_words 5s infinite;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

@media only screen and (max-width: 800px){
    .wrapper{
        font-size: 15px;
    }
}